.route-abbreviation {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0 0.75rem;
  margin-bottom: 0.25rem;
}

.route-abbreviation:last-of-type {
  margin-bottom: 0;
}

.priority {
  border-right: thick solid transparent;
}

.priority-0 {
  border-right-color: #f00;
}

.priority-1 {
  border-right-color: #f60;
}

.priority-2 {
  border-right-color: #fc0;
}

.priority-3 {
  border-right-color: #0f0;
}
