.public-message-board {
  --public-message-board-border-color: #00000020;

  border: 1px solid var(--public-message-board-border-color);
  border-collapse: separate;
  border-radius: 0.375rem;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
}

.public-message-board th {
  padding: 1rem 0 1rem 1rem;
  vertical-align: top;
  width: 1px;
}

.public-message-board td {
  padding: 1rem;
}

.public-message-board th,
.public-message-board td {
  border-bottom: 1px solid var(--public-message-board-border-color);
}

.public-message-board tr:last-child th,
.public-message-board tr:last-child td {
  border-bottom: none;
}
